# Since Ansible 2.12 (core):
# To generate an example config file (a "disabled" one with all default settings, commented out):
#               $ ansible-config init --disabled > ansible.cfg
#
# Also you can now have a more complete file by including existing plugins:
# ansible-config init --disabled -t all > ansible.cfg

# For previous versions of Ansible you can check for examples in the 'stable' branches of each version
# Note that this file was always incomplete  and lagging changes to configuration settings

# for example, for 2.9: https://github.com/ansible/ansible/blob/stable-2.9/examples/ansible.cfg

[defaults]
remote_user = sshuser # Имя пользователя под которым подключаемся
interpreter_python = /usr/bin/python3
timeout = 60 
#host_key_checking = False # Отключает проверку ключа

[privilege_escalation]
become_method = sudo # Закоментировать если меняете на нижний вариант
#become_method = su # Смена метода повышения привелегий
#become_user = root # Раскоментировать вместе со сточкой выше
#become_ask_pass = True # Спрашивать пароль для повышения привилегий
#become_flags = "-H -S -n" # Флаги для sudo
#become_flags = "- " # Флаги для su

[ssh_connection]
ssh_args = -o ControlMaster=no # Для старых хостов
scp_if_ssh = True # Если удалённый хост не поддерживает новые протоколы

